.list-items-container{
    list-style-type: none;
    padding-left: 0;
}
.list{
    background: #F6EDE6;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    position: relative;
}
.list span{
    font-size: 14px;
    cursor: pointer;
}

.list .edit-icon{
    position: absolute;
    right: 25px;
}

.list .delete-icon{
    position: absolute;
    right: 10px;
    color: #f00;
}